<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }} <div>
            {{ form.username.label }}<br>
            {{ form.username }}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.password.label }}<br>
            {{ form.password }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        
        {{ form.submit }}
    </form>
</body>
</html>